{% extends 'base.html.twig' %}

{% set isCreating = app.current_route =='app_admin_editor_new' %}
{% set action =  isCreating ? 'Ajout' : 'Édition' %}
{% set labelButton =  isCreating ? 'Créer' : 'Modifier' %}

{% block title %}{{ action }} d'éditeur{% endblock %}

{% block body %}
    <section class="container px-4">
        <div class="w-50 m-auto">
            <h1>{{ action }} d'éditeur</h1>

            {{ form_start(form) }}
            {{ form_row(form.name, {label: 'Nom'}) }}
            <button type="submit" class="btn btn-primary">{{ labelButton }}</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}